body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 95, 87);
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-junto{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    font-size: 35px;
    color: rgb(25, 206, 161);
}

label{
    color: rgb(25, 206, 161);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgba(215, 255, 245, 0.952);
    border: 2px solid #F0FAF1;
    color: rgb(26, 20, 20);
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: rgba(86, 194, 167, 0.9);
}

.btn{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: rgb(15, 139, 189);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(12, 129, 229);
}

a{
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    padding: 17px 25px;
}
